site_name: My MkDocs Material Documentation
site_url: https://sitename.example

theme:
  name: material
  font:
    text: Merriweather Sans
    code: Red Hat Mono
  logo: assets/logo.jpg
  favicon: assets/favicon.png
  features:
    - navigation.footer  ## copy right  made with + navigation.footer
  palette:
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: green
      accent: deep purple

    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: blue
      accent: deep orange

markdown_extensions:
  - attr_list

  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg    

  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true

  - pymdownx.inlinehilite
  - pymdownx.snippets

  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

  - pymdownx.tabbed:
      alternate_style: true

  - admonition
  - pymdownx.details

plugins:
  - search
extra:
  social:
    - icon: simple/facebook
      link: https://www.facebook.com/moustafa.n.mohey.eldeen
    - icon: simple/github
      link: https://github.com/omarsawaf1/MicroTrace-Docs/tree/main
    #- icon: simple/linkin         ## there is a problem with icon linkedin with me (moustafa) not included with my library
    #  link: https://www.linkedin.com/in/moustafa-nabil-moheyeldeen-928a1522a/

copyright: Copyright &copy; 2025/2026 Graduation project 